@font-face {
    font-family: 'iconfont';  /* project id 1828753 */
    src: url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.eot');
    src: url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.woff') format('woff'),
    url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1828753_v4p88b0jmo.svg#iconfont') format('svg');
  }

  .iconfonts{
      font-family: "iconfont" !important;
      font-size: 18px;
      font-style: normal;
      color: azure;
      -webkit-font-smoothig:antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing:grayscale;
  }